@import '../../assets/style/layout.scss';
.floor{
    padding: .15rem;
    // display: flex;
    // flex-direction: column;
  h3{
    font-size: .2rem;
    font-weight: normal;
    text-align: left;
  }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width: .7rem;
            height: 1.05rem;
            width: 30%;
            margin: .02rem;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                width: 100%;
                height: 100%;
                padding-bottom: .2rem;
                    img{
                        width: .6rem;
                        height: .6rem;
                    }
                    span{
                        font-size: .12rem;
                        color:#ccc
                    } 
            }
        }
    }
}