@import '../../assets/style/theme.scss';
@import '../../assets/style/border.scss';

.listNav{
    height: .5rem;
    @include border(#ccc,0 0 .01rem 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed!important;
    top:0.5rem;
    left:0rem;
    background: #fff;
    z-index: 99999;
    width: 100%;
    li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex:1;
        a{
            color:#777;
            display:inline-block;
            flex:1;
            text-align: center;
            line-height: .5rem;
            height: .5rem;
        }
        .active{
            color:$theme;
            @include border($theme,0 0 .02rem 0)
        }
    }
}